In [6]:
import numpy as np
import pandas as pd
from scipy import stats, integrate
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(color_codes=True)

In [68]:
authors = pd.read_csv("C:\\Users\\thedo\\Documents\\SOLE.csv")

In [69]:
authors.head()

,Article Title,Author,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,A Big Fish in a Small Pond: Ability Rank and H...,"Elsner, Benjamin; Isphording, Ingo E.",NaN,NaN,NaN,NaN
1,A Business Cycle Model with Private Information,"Smith, Bruce D.",NaN,NaN,NaN,NaN
2,A Dynamic Equilibrium Model of the US Wage Str...,"Johnson, Matthew; Keane, Michael P.",NaN,NaN,NaN,NaN
3,A Dynamic Model of Teacher Labor Supply,"Stinebrickner, Todd R.",NaN,NaN,NaN,NaN
4,A Dynamic Model of Weak and Strong Ties in the...,"Zenou, Yves",NaN,NaN,NaN,NaN

In [70]:
authors = authors.iloc[:,1:2]
authors.dtypes

Author    object
dtype: object

In [76]:
dictionary = {}
for names in authors["Author"]:
    try:
        for name in names.split(';'):
                name = name.strip()
                if name in dictionary:
                    count = dictionary.pop(name)
                    dictionary[name] = count + 1
                else:
                    dictionary[name] = 1
    except AttributeError:
            print("Fail")

Fail
Fail
Fail
Fail

In [77]:
print(dictionary["Willis, Robert J."])

4

In [78]:
print(len(dictionary))

1316

In [80]:
import csv

with open('People.csv', 'w') as csvfile:
    filewriter = csv.writer(csvfile, delimiter=',', quoting=csv.QUOTE_MINIMAL)
    filewriter.writerow(['Author', 'Number of Articles Published'])
    for name in dictionary:
        filewriter.writerow([name, dictionary[name]])

TypeError: quotechar must be set if quoting enabled